@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  /* --dark-color-a: #0531a1; */
  --dark-color-a: #0074d9;
  --dark-color-b: #425ea4;
  /* --dark-color-b: #add8e6; */
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  /* background: var(--light-color); */
  background-color: rgb(245, 241, 241);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
  border-radius: 3px;
}

.btn:hover {
  /* background-color: rgba(58, 49, 222, 0.545); */
  background-color: #add8e6;
  color: #fff;
  /* box-shadow: 0px 0px 2px 2px rgba(46, 45, 45, 0.456); */
}

.create-room {
  padding: 5px 10px;
  background-color: #55c6e2;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.5);
}

.small-font {
  font-size: small;
}

/* Modal */
.modal {
  border-radius: 8px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-header {
  padding: 15px 15px;
  /* margin-bottom: 15px; */
  border-bottom: solid 1px #929292b1;
  background-color: #157dd8b7;
  border-radius: 8px 8px 0 0;
}

.modal-body {
  padding: 20px 15px;
  min-height: 100px;
}

.title-header {
  color: #ffffff;
}

.close-btn {
  color: #fcfcfc;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* min-height: 300px; */
  min-width: 400px;
}

.modal-actions {
  border-top: 1px solid #929292b1;
  padding: 10px 20px;
  display: flex;
  justify-content: end;
}

.btn-add {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: medium;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

#close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

#room-name {
  margin-top: 10px;
}

#no-room {
  margin-top: 10px;
}

/* Chat Page */

input[type="text"] {
  padding: 10px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  width: 100%;
}

input[type="text"]:hover {
  box-shadow: 0 0 2px 1px #add8e6;
}

.btn-send {
  color: #fff;
  background-color: #439271ed;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 4px;
  outline: none;
  border: 0;
  font-size: 16px;
  margin-left: 3px;
  box-shadow: 2px 2px 2px 1px rgba(44, 43, 43, 0.67);
  margin-left: 10px;
}

.btn-send:hover {
  /* color: #2e925e; */
  background-color: #6ecb9bbe;
  /* box-shadow: 0 0 5px 1px #b9ced5; */
}

.chat-container {
  max-width: 1100px;
  background: #fff;
  margin: 30px auto;
  overflow: hidden;
}

.chat-header {
  background: var(--dark-color-a);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: var(--dark-color-b);
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h4 {
  margin: 15px 0;
  padding-left: 20tttttttt vWS56px;
}

.chat-sidebar ul li {
  padding: 10px 0 0 15px;
}

.chat-messages {
  padding: 10px 20px;
  height: 413px;
  max-height: 413px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #93969574;
}

/* .chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
}

.chat-messages .message .meta span {
  color: #777;
} */

/* Chat bubble style */
.wrapper {
  display: flex;
  justify-content: flex-start;
}
.bubble {
  padding-bottom: 4px;
  width: auto;
  max-width: 400px;
  height: auto;
  /* display: block; */
  background: #f5f5f5;
  border-radius: 4px;
  box-shadow: 2px 5px 8px #000;
  position: relative;
  margin: 0 0 25px;
  &.alt {
    /* margin: 0 0 0 60px; */
    margin-left: auto;
  }
  .txt {
    padding: 8px 55px 8px 14px;
    .name {
      font-weight: 600;
      font-size: 12px;
      margin: 0 0 4px;
      color: #3498db;
      span {
        font-weight: normal;
        color: #b3b3b3;
      }
      &.alt {
        color: #2ecc71;
      }
    }
    .message {
      font-size: 12px;
      margin: 0;
      color: #2b2b2b;
    }
    .timestamp {
      font-size: 11px;
      position: absolute;
      bottom: 2px;
      right: 10px;
      text-transform: uppercase;
      color: #999;
    }
  }
  .bubble-arrow {
    position: absolute;
    width: 0;
    bottom: 42px;
    left: -16px;
    height: 0;
    &.alt {
      right: -2px;
      left: auto;
      bottom: 40px;
    }
  }
  .bubble-arrow:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 9px solid #f5f5f5;
    border-radius: 0 20px 0;
    width: 15px;
    height: 30px;
    transform: rotate(145deg);
  }
  .bubble-arrow.alt:after {
    transform: rotate(45deg) scaleY(-1);
  }
}
/* } */

/* End of chat bubble style */

.chat-form-container {
  padding: 20px 30px;
  /* background-color: var(--dark-color-a); */
  background-color: #637bb8b4;
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 10px;
  height: 40px;
  flex: 1;
  border-radius: 20px;
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
  box-shadow: 0px 0px 20px 5px rgba(49, 114, 193, 0.818);
  border-radius: 10px;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.join-main {
  border-radius: 0 0 10px 10px;
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  /* font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
  border-radius: 4px; */
  padding: 8px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
